body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.wrapper {
    height: 300px;
    width: 300px;
    position: relative;
    background-color: #7070f3;
    border-radius: 50%;
    overflow: hidden;
}
.control {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.control input {
    display: none;
}
.body {
    height: 80px;
    width: 40px;
    position: absolute;
    bottom: -2%;
    right: 50%;
    transform: translateX(50%);
    background-color: #f4f4f4;
    clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
}
.head {
    height: 130px;
    width: 58%;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    bottom: 60px;
    right: 50%;
    transform: translateX(50%);
    background-color: #f4f4f4;
    overflow: hidden;
}
.head::before {
    content: "";
    aspect-ratio: 1/1;
    width: 60%;
    position: absolute;
    left: -25%;
    top: -20%;
    border-radius: 50%;
    background-color: #f7bcd1;
}
